

<table class="table">

    <thead>
            <tr>
            <th>Picture</th>
            <th>Name</th>
            <th>Price</th>
            <th>Number of units</th>
        </tr>
    </thead>
    
    <tbody>
        <tr *ngFor="let product of products">
            <td>
                <img src="{{product.imageUrl}}" alt="">
            </td>
            <td>{{product.name}}</td>
            <td>{{product.unitPrice | currency: "EUR"}}</td>
            <td>{{product.unitsInStock}}</td>
        </tr>
    </tbody>



</table>
