<div class="detail-section"></div>
<div class="container-fluid">
  <table class="table">
    <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>quantity</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let product of cartItems">
      <td>{{product.name}}</td>
      <td>{{product.unitPrice*product.quantity | currency: "USD"}}</td>
      <td>
        <div class="row no-gutters">
          <div class="col">
            <button (click)="incrementProduct(product)" class="btn btn-primary btn-light">
              <i class="fas fa-plus"></i>
            </button>
          </div>
          <div class="col">
            {{product.quantity}}
          </div>
          <div class="col">
            <button (click)="decrementProduct(product)" class="btn btn-primary btn-light">
              <i class="fas fa-minus"></i>
            </button>
          </div>

        </div>

      </td>
    </tr>
    </tbody>


  </table>
  <!--<div *ngFor="let product of cartItems" class="col-md-3">
    <img src="{{product?.imageUrl}}" class="detail-img">
    <h3>{{product?.name}}</h3>
    <hr>
  </div>-->
  <p>Total price to pay: {{totalPrice | currency: "USD"}}</p>
  <p>Total quantity of products: {{totalQuantity}}</p>
  <p>
    <button routerLink="/checkout" class="btn btn-primary btn-light">Checkout</button>
  </p>

  <div *ngIf="cartItems == null || cartItems.length == 0"
       class="alert alert-warning col-2" role="alert">
    no products have been added to cart!
  </div>
</div>
